/* style page for my new hub page */

/* color codes

#CD6A7A pink
#292E7A blue
#D4D98C beige


/* box model fix */

html {
	box box-sizing: border-box;
}

*, *:before; *:after {
	box-sizing: inherit;
}

/* ++++++++++++++++++++++++++++++++++/

/*c clearfix */

.clearfix:before;
.clearfix:after {
	content: "";
	display: table;
}

.clearfix:after {
	clear: both;
}

/* ++++++++++++++++++++++++++++++++++ */

* {
	margin: 0;
}

body {
	font-size: 2.5em;
	text-align: justify;
}

h1 {
	color: #292E7A;
}

a {
	color: #292E7A;
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	color: #E3ABDA;
	transition: 1s;
}

#jumbotron {
	background-image: url(images/sonny.png);
	background-position: center;
	background-repeat: no-repeat;
	background-color: #CD6A7A ;
	height: 100vh;
	overflow: scroll;
	position: relative;
	overscroll: hidden;
}

.link {
	border-bottom: 5px solid #DABE90;
	padding-bottom: 1px;
}





